{if $user->loggedIn}
	<p>{$user->identity->name} {$user->identity->surname} logged in</p>
{else}
	<h3>Log In</h3>
	{form loginForm}
		{form controls}
		<div class="form-actions">
			{input send class=>"btn btn-primary"}
			<a class="btn" href="{plink :User:Forgot:}">Forgotten password</a>
		</div>
	{/form}
{/if}
