<h2>Project users</h2>

{control addUserForm}

<table class="table">
	<thead>
		<tr><th>User</th><th>Role</th><th></th></tr>
	</thead>
	<tr n:foreach="$project->related('user_project') as $u">
		<td>{$u->user->fullName}</td>
		<td>{$u->role|firstUpper}</td>
		<td><a n:if="$u->role !== owner" n:href="delete $u->user_id" class="btn">Remove</a><td>
	</tr>
</table>
