<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="content-language" content="cz-cs" />
    <title>{ifset #title}{include #title|striptags} | {/ifset}NiceUML</title>
    {block head}{/block}
</head>
<body>
    {include #content}
</body>
</html>
