entity:
	class_class: ClassModule\Model\Entity\ClassType
	class_association: ClassModule\Model\Entity\Association
	class_attribute: ClassModule\Model\Entity\Attribute
	class_operation: ClassModule\Model\Entity\Operation

services:
	model.class_class: ClassModule\Model\ClassType(class_class, ..., ..., @model.element)
	model.class_association: ClassModule\Model\Association(class_association, ..., ..., @model.relation)

	elementType:
		setup: [ add(class, Class) ]
	relationType:
		setup:
			- add('association', 'Association', [ class: class ])
			- add('generalization', 'Generalization', [ class: class ])

	elementControlFactory:
		setup: [ addType(class, classModule.classControl) ]
	relationControlFactory:
		setup:
			- addType(association, classModule.associationControl)
			- addType(generalization, relationControl)
	diagramControlFactory:
		setup: [ addType(class, classModule.classDiagramControl) ]

	parser:
		setup: [ addParser( class, ClassModule\Parser() ) ]
	interpreter:
		setup: [ addInterpreter( class, ClassModule\Interpreter() ) ]

	model.elementSource:
		setup: [ addType(class, @model.class_class) ]
	model.relationSource:
		setup:
			- addType(association, @model.class_association)
			- addType(generalization, NULL)
	model.diagramSource:
		setup: [ addType(class) ]

factories:
	newDiagramControl:
		setup: [ add(class, Class diagram, @model.diagram) ]

	classModule.classControl: ClassModule\ClassControl(@model.class_class)


	classModule.classDiagramControl:
		class: ClassModule\ClassDiagramControl(%diagram%, @model.element, @model.relation)
		parameters: [ Model\Entity\Diagram diagram ]

	classModule.associationControl: ClassModule\AssociationControl(@model.class_association)

