entity:
	class_class: ClassModule\Model\Entity\ClassType
	class_association: ClassModule\Model\Entity\Association
	class_attribute: ClassModule\Model\Entity\Attribute
	class_operation: ClassModule\Model\Entity\Operation

services:
	model.class_class: ClassModule\Model\ClassType(class_class, ..., ..., @model.element)
	model.class_association: ClassModule\Model\Association(class_association, ..., ..., @model.relation)

	elementType:
		setup: [ add(class, Class) ]
	relationType:
		setup:
			- add(association, Association, [ class: [class] ])
			- add(generalization, Generalization, [ class: [class] ])
	diagramType:
		setup: [ add(class, Class diagram, [class, note]) ]

	elementControlFactory:
		setup: [ addType(class, classModule.classControl) ]
	relationControlFactory:
		setup:
			- addType(association, classModule.associationControl)
			- addType(generalization, relationControl)
	diagramControlFactory:
		setup: [ addType(class, classModule.classDiagramControl) ]

	parser:
		setup: [ addParser( class, ClassModule\Parser() ) ]
	interpreter:
		setup: [ addInterpreter( class, ClassModule\Interpreter() ) ]

	model.elementSource:
		setup: [ addType(class, @model.class_class) ]
	model.relationSource:
		setup: [ addType(association, @model.class_association) ]

factories:
	classModule.classControl: ClassModule\ClassControl
	classModule.associationControl: ClassModule\AssociationControl
	classModule.classDiagramControl: ClassModule\ClassDiagramControl


