
{block content}

<h1>Projects</h1>

<p><a n:href="new" class="btn btn-primary">New project</a></p>

<table class="table">
	<thead>
		<tr><th>#</th><th>Name</th><th></th></tr>
	</thead>
	<tbody>
		<tr n:foreach="$projects as $p">
			<td>{$p->id}</td>
			<td><a n:href="Element: projectId => $p->id">{$p->name}</a></td>
			<td><a n:href="edit $p->id" class="btn btn-small" n:if="$user->isAllowed($p, 'edit')">Edit</a></td>
		</tr>
	</tbody>
</table>
