parameters:
	model:
		classes:
			user_user: UserModule\User
	controls:
		menuLinks:
			- [ link: ':User:Default:', label: Register, access: usage, accessInverse: TRUE ]
			- [ link: ':User:Default:', label: User settings, access: usage ]
			- [ link: 'loginControl-logout!', label: Log out, access: usage ]

services:
	authenticator:
		factory: UserModule\Authenticator

	authorizator:
		factory: UserModule\Authorizator

	userModule.model: UserModule\Model('user_user')

	loginControlFactory:
		class: ILoginControlFactory
		factory: UserModule\LoginControlFactory

	projectAccessControlFactory:
		class: IProjectAccessControlFactory
		factory: UserModule\ProjectAccessControlFactory

routes:
	- UserModule\RouterFactory()

factories:
	loginControl: UserModule\LoginControl
