parameters:
	model:
		classes:
			user_user: UserModule\User

services:
	authenticator: UserModule\Authenticator
	authorizator: UserModule\Authorizator
	userModule.model: UserModule\Model('user_user')

routes:
	- UserModule\RouterFactory()

factories:
	userModule.userControl: UserModule\UserControl
