#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
	session:
		expiration: 14 days
	container:
		debugger: true

modules:
	routes: RoutesExtension

routes:
	- '<projectId [1-9]\d*>/<presenter element|diagram>[/<action=default>][/<id>]'
	'<presenter>[/<action>][/<id>]': Homepage:default

services:
	database: @nette.database.default
	mailFactory: MailFactory( @nette.mailFactory, %appDir%/templates/mails, %mails.defaultFrom% )
	formFactory: Formfactory( @nette.basicFormFactory )
	router: @routes.router
	parser:
		class: ParserList
	interpreter:
		class: InterpreterList

factories:
	nette.latte:
		setup:
			- Kdyby\BootstrapFormRenderer\Latte\FormMacros::install(@self::getCompiler())
	nette.basicForm:
		class: Nette\Application\UI\Form
		setup:
			- $renderer( Kdyby\BootstrapFormRenderer\BootstrapRenderer() )
	form: @nette.basicForm
	menuControl:
		class: MenuControl( %controls.menuLinks% )

includes:
	- defaults.neon
	- modules.neon
	- model.neon
