#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:
	controls:
		menuLinks:
			- [ link: ':Project:', label: 'Projects', access: 'project' ]
			- [ link: ':User:default', label: Register, access: usage, accessInverse: TRUE ]
			- [ link: ':Sign:in', label: Log in, access: usage, accessInverse: TRUE ]
			- [ link: ':User:default', label: User settings, access: usage ]
			- [ link: ':Sign:out', label: Log out, access: usage ]

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
	session:
		expiration: 14 days
	container:
		debugger: true

modules:
	routes: RoutesExtension
	entity: Model\EntityExtension

routes:
	index.php: [ Homepage:default, oneWay ]
	- '<projectId [1-9]\d*>/<presenter element|diagram>[/<action=default>][/<id>]'
	'<presenter>[/<action>][/<id>]': Homepage:default

services:
	authenticator: Model\Security\Authenticator
	authorizator: Model\Security\Authorizator
	database: @nette.database.default
	router: @routes.router

	formFactory: FormFactory
	mailFactory: MailFactory( %appDir%/templates/mails, %mails.defaultFrom% )
	menuControlFactory: MenuControlFactory
	projectControlTreeFactory: ProjectTreeControlFactory
	sourceControlFactory: SourceControlFactory
	consoleControlFactory: ConsoleControlFactory

	elementControlFactory:
		class: ElementControlFactory
		setup: [ addType(note, noteControl) ]
	relationControlFactory:
		class: RelationControlFactory
	diagramControlFactory:
		class: DiagramControlFactory

factories:
	nette.latte:
		setup:
			- Kdyby\BootstrapFormRenderer\Latte\FormMacros::install( @self::getCompiler() )
	nette.basicForm:
		class: Nette\Application\UI\Form
		setup:
			- addProtection()
			- $renderer( Kdyby\BootstrapFormRenderer\BootstrapRenderer() )
	form: @nette.basicForm

	menuControl: MenuControl( %controls.menuLinks% )
	projectTreeControl: ProjectTreeControl
	elementControl: ElementControl( @model.element )
	relationControl: RelationControl( @model.relation )
	noteControl: NoteControl( @model.note )
	sourceControl: SourceControl
	consoleControl: ConsoleControl( @model.commandModel )

includes:
	- model.neon
