#
# SECURITY WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
#
# If you don't protect this directory from direct web access, anybody will be able to see your passwords.
# http://nette.org/security-warning
#
parameters:

php:
	date.timezone: Europe/Prague
	# zlib.output_compression: yes

nette:
	application:
		errorPresenter: Error
	session:
		expiration: 14 days
	container:
		debugger: true

modules:
	routes: RoutesExtension
	entity: EntityExtension

routes:
	- '<projectId [1-9]\d*>/<presenter element|diagram>[/<action=default>][/<id>]'
	'<presenter>[/<action>][/<id>]': Homepage:default

services:
	authenticator:
		factory: Model\Security\Authenticator

	authorizator:
		factory: Model\Security\Authorizator

	database: @nette.database.default
	mailFactory: MailFactory( %appDir%/templates/mails, %mails.defaultFrom% )

	router: @routes.router

	parser:
		class: ParserList
	interpreter:
		class: InterpreterList


	elementType:
		class: Model\ElementType
		setup: [ add('note', 'Note') ]

	relationType:
		class: Model\RelationType
		setup: [ add('noteLink', 'Note link', [ note: NULL, NULL: note ]) ]

	model.elementSource:
		class: Model\ElementSource
		setup: [ addType(note, Model\NoteSource(@model.note)) ]
	model.relationSource:
		class: Model\RelationSource
		setup: [ addType(noteLink, NULL) ]
	model.diagramSource:
		class: Model\DiagramSource

factories:

	nette.latte:
		setup:
			- Kdyby\BootstrapFormRenderer\Latte\FormMacros::install(@self::getCompiler())
	nette.basicForm:
		class: Nette\Application\UI\Form
		setup:
			- addProtection()
			- $renderer( Kdyby\BootstrapFormRenderer\BootstrapRenderer() )
	form: @nette.basicForm

	menuControl:
		class: MenuControl( %controls.menuLinks% )

	projectTreeControl:
		class: ProjectTreeControl(%project%)
		parameters: [ Model\Entity\Project project ]

	sourceControl: SourceControl

	consoleControl:
		class: ConsoleControl(%project%)
		parameters: [ Model\Entity\Project project ]

	newDiagramControl:
		class: NewDiagramControl(%project%)
		parameters: [ Model\Entity\Project project ]

includes:
	- defaults.neon
	- modules.neon
	- model.neon
