# Default config file, settings here are to be rewrited by modules.

parameters:
	controls:
		menuLinks:
			- [ link: ':Project:', label: 'Projects', access: 'project' ]
			- [ link: ':User:default', label: Register, access: usage, accessInverse: TRUE ]
			- [ link: ':Sign:in', label: Log in, access: usage, accessInverse: TRUE ]
			- [ link: ':User:default', label: User settings, access: usage ]
			- [ link: ':Sign:out', label: Log out, access: usage ]


routes: # highest priority routes
	index.php: [ Homepage:default, oneWay ]


services:
	formFactory: FormFactory
	menuControrFactory: MenuControlFactory
	projectControlTreeFactory: ProjectTreeControlFactory
	sourceControlFactory: SourceControlFactory
	consoleControlFactory: ConsoleControlFactory

	elementControlFactory:
		class: ElementControlFactory
		setup: [ addType(note, noteControl) ]
	relationControlFactory:
		class: RelationControlFactory
	diagramControlFactory:
		class: DiagramControlFactory

factories:
	elementControl: ElementControl(@model.element, @model.relation)
	noteControl: NoteControl(@model.note)
	relationControl: RelationControl(@model.relation)


