# Default config file, settings here are to be rewrited by modules.

parameters:
	controls:
		menuLinks:
			- [ link: ':Project:', label: 'Projects', access: 'project' ]
			- [ link: ':User:default', label: Register, access: usage, accessInverse: TRUE ]
			- [ link: ':Sign:in', label: Log in, access: usage, accessInverse: TRUE ]
			- [ link: ':User:default', label: User settings, access: usage ]
			- [ link: ':Sign:out', label: Log out, access: usage ]


routes: # highest priority routes
	index.php: [ Homepage:default, oneWay ]


services:
	authenticator:
		class: Nette\Security\IAuthenticator
		factory: DefaultAuthenticator

	authorizator:
		class: Nette\Security\IAuthorizator
		factory: DefaultAuthorizator

	formFactory:
		class: IFormFactory
		factory: FormFactory

	menuControlFactory:
		class: IMenuControlFactory
		factory: MenuControlFactory

	projectControlTreeFactory:
		class: IProjectTreeControlFactory
		factory: ProjectTreeControlFactory

	sourceControlFactory:
		class: ISourceControlFactory
		factory: SourceControlFactory

	consoleControlFactory:
		class: IConsoleControlFactory
		factory: ConsoleControlFactory

	elementControlFactory:
		class: IElementControlFactory
		factory: ElementControlFactory
		setup:
			- addType('note', 'noteControl')

	newElementControlFactory:
		class: INewElementControlFactory
		factory: NewElementControlFactory

	relationControlFactory:
		class: IRelationControlFactory
		factory: RelationControlFactory

	newRelationControlFactory:
		class: INewRelationControlFactory
		factory: NewRelationControlFactory

	diagramControlFactory:
		class: IDiagramControlFactory
		factory: DiagramControlFactory

	newDiagramControlFactory:
		class: INewDiagramControlFactory
		factory: NewDiagramControlFactory

factories:
	elementControl:
		class: ElementControl(%element%, @model.element, @model.relation)
		parameters: [ Model\Entity\Element element ]

	noteControl:
		class: NoteControl(%element%, @model.note, @model.relation)
		parameters: [ Model\Entity\Element element ]

	relationControl:
		class: RelationControl(%relation%, @model.relation)
		parameters: [ Model\Entity\Relation relation ]

	diagramControl:
		class: DiagramControl(%diagram%, @model.diagram, @model.placement)
		parameters: [ Model\Entity\Diagram diagram ]

