parameters:
	model:
		classes: []
		defaultClass: Model\Entity\Base

services:
	model.entityFactory: NiceDAO\EntityFactory(%model.classes%, %model.defaultClass%)

	model.project: Model\Project('core_project')

