parameters:
	model:
		classes: []
		defaultClass: Model\Entity

services:
	model.entityFactory: Model\EntityFactory(%model.classes%, %model.defaultClass%)
	model.serviceDependencies: Model\ServiceDependencies(@model.tableFactory)
	model.emptyTableAccessor: Model\EmptyTableAccessor(@model.emptyTableFactory)

	model.project: Model\Project('core_project')

factories:
	model.table: 
		parameters: [ name ]
		class: Model\Selection(%name%)
		setup:
			- injectEntityFactory

	model.emptyTable: 
		parameters: [ name ]
		class: Model\EmptySelection(%name%)
		setup:
			- injectEntityFactory

	model.entity:
		parameters: [ name, array data = [] ]
		class: Model\Entity
		factory: @model.entityFactory::create(%name%, %data%)
