
{block content}

<h1 n:block="title">{$diagram->name}</h1>

<a n:href="default" class="btn">Back</a>

{control diagramControl}

<a n:href="default" class="btn">Back</a>

{/block}

{block scripts}
{include #parent}
{control diagramControl:scripts}
{/block}

{block head}
{include #parent}

{/block}
