
{block content}
<h1 n:block="title">Welcome!</h1>

{if $user->isAllowed('project')}
	<h2>My projects</h2>

	<p><a n:href="Project:new" class="btn btn-primary">New project</a></p>

	<table class="table">
		<tbody>
			<tr n:foreach="$projects as $p">
				<td><a n:href="Element: projectId => $p->id">{$p->name}</a></td>
			</tr>
		</tbody>
	</table>
{/if}
