
{layout @layout.latte}

{block header}

{include #parent}

<div class="row-fluid">

	<div class="span3">
		{control projectTreeControl}
	</div>
	<div class="span9">
{/block}

{block footer}
	</div>
</div>

{control sourceControl}

{control consoleControl}

{include #parent}
{/block}
